@model Manga.Model.Entities.Publisher

@{
    ViewData["Title"] = "DeletePublishers";
}

<h1>Usuwanie</h1>

<h3>Usuwanie jest nieodwracalne. Czy chcesz usunąć?</h3>
<div>
    <h4>Wydawnictwo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Wydawnictwo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <form asp-action="DeletePublishers">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Powrót do listy</a>
    </form>
</div>
