@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Mangowa biblioteczka</h1>
    <em>
        <p>
            Mangowa biblioteczka dla fanów historii z kraju wschodzącego słońca :3
        </p>
    </em>

    <img src="~/photo.jpg" alt="Japonia" />
</div>