@model Manga.Model.Entities.MangaSeries

@{
    ViewData["Title"] = "DeleteSeries";
}

<h1>Usuwanie</h1>
<h3>Usuwanie jest nieodwracalne. Czy chcesz usunąć?</h3>

<div>
    <h4>Seria mangowa</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nazwa serii
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            ISBN Serii
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SeriesISBN)
        </dd>
        <dt class="col-sm-2">
            Zakończona
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Completed)
        </dd>
        <dt class="col-sm-2">
            Wydawnictwo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Publisher.Name)
        </dd>
    </dl>
    <form asp-action="DeleteSeries">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Powrót do listy</a>
    </form>
</div>
